/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face
{
	fontFamily: WeblySleekUILight;
	src: url(./assets/fonts/weblysleekuil.ttf);
	embedAsCFF: true;
}

@font-face
{
	fontFamily: WeblySleekUISemibold;
	src: url(./assets/fonts/weblysleekuisb.ttf);
	embedAsCFF: true;
}

@font-face
{
	fontFamily: WeblySleekUILightMX;
	src: url(./assets/fonts/weblysleekuil.ttf);
	embedAsCFF: false;
}

@font-face
{
	fontFamily: WeblySleekUISemiboldMX;
	src: url(./assets/fonts/weblysleekuisb.ttf);
	embedAsCFF: false;
}

mx|MenuBar{
	color: white;
	rollOverColor: #009bdb;
	chromeColor:white;
	fontFamily: WeblySleekUILightMX;
	fontSize:18;
	symbolColor:white;
}



mx|Menu
{
/*	content-background-color: #555555;
	content-background-alpha: 0.5;
	color: #FFFFFF;*/
}

mx|DataGrid{
	fontFamily: WeblySleekUILightMX;
}

mx|LineChart
{
	fontFamily: WeblySleekUISemiboldMX;
}